<!-- views/admin/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin - users administraion page</title>
</head>
<body>
  <h2>Users administration panel</h2>
  <form method="POST" action="/users/logout">
    <button type="submit">Logout</button>
  </form>
  <form method="GET" action="/games/admin">
    <button type="submit">Games</button>
  </form>
  <% users.forEach( user => { %>
    <form method="POST" action="/users/admin/delete/<%= user._id %>">
      <li> <%= user.email %> <%= user.name %> <%= user.surname %><button type="submit">Delete user</button></li>
    </form>
  <% }) %>
</body>
</html>