<!-- views/user/games.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Games</title>
</head>
<body>
  <h2>Games user panel</h2>
  <h3>Cart</h3>
  <p> <%= cartSize %> </p>
  <form method="POST" action="/users/logout">
    <button type="submit">Logout</button>
  </form>
  <form method="GET" action="/users/cart">
    <button type="submit">Show cart</button>
  </form>
  <form method="GET" action="/orders">
    <button type="submit">Order</button>
  </form>
  <% games.forEach( game => { %>
    <form method="POST" action='/users/cart/add/<%= game._id %>'>
      <li> <%= game.title %> <%= game.price %> PLN <button type="submit">Add to cart</button></li>
    </form>
  <% }) %>
</body>
</html>